body {
    background-image: url(images/unsplashbg.jpg);
}


#maincontainer {
    width: 100%;
    height: auto;
  }


img.background {
    width: 100%;
    height: auto;
  }

  .collapsible {
    background-color: rgb(172, 172, 172);
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}

.active, .collapsible:hover {
    background-color: rgb(150, 221, 109);
}

.schedulecontent {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;        
}

.scheduleday {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.scheduleday tr:nth-child(even){background-color: #f2f2f2;}
.scheduleday tr:hover {background-color: #ddd;}
.scheduleday th, td {
    padding: 15px;
    text-align: left;
}


